.follow-button {
  width: 8rem;
  height: 3.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #818284;
  padding: 0.6rem 1.6rem;

  &.primary {
    border: none;
  }
}
