#video-upload-container {
  background: #000c;
}

.video-add-details {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
  }
}

.details-entry {
  position: absolute;
  bottom: 0.8rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    width: 90%;
    margin-bottom: 0.3rem;
  }
}

.caption-content {
  text-align: left;
  font-size: 1.4rem;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.2rem;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.1s ease-out;

  &::placeholder {
    text-align: left;
  }

  &:active,
  &:focus {
    height: 15rem;
    white-space: initial;
    text-overflow: initial;
    overflow-y: auto;
  }

  &:active::placeholder,
  &:focus::placeholder {
    visibility: hidden;
    opacity: 0;
  }
}
