{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "jsx": true
    },
    "projects": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native"
  ],
  "overrides": [
    {
      "files": "\"app/**/*.ts{,x}\"",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "projects": "./tsconfig.json"
      },
      "plugins": [
        "@typescript-eslint/eslint-plugin"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
