/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 *
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media.
 *
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * dfinity.org (monthly pageviews: <50K)
 *
 * internetcomputer.org (monthly pageviews: <50K)
 *
 */

/* complete */

@font-face {
  font-family: CircularXX;
  font-weight: normal;
  src: local(CircularXX), local(CircularXXWeb-Book),
    url(./CircularXXWeb-Book.woff2) format("woff2"),
    url(./CircularXXWeb-Book.woff) format("woff");
}

@font-face {
  font-family: CircularXX;
  font-weight: bold;
  src: local(CircularXX), local(CircularXXWeb-Bold),
    url(./CircularXXWeb-Bold.woff2) format("woff2"),
    url(./CircularXXWeb-Bold.woff) format("woff");
}

/* subset */

@font-face {
  font-family: CircularXXSub;
  font-weight: normal;
  src: local(CircularXXSub), local(CircularXXSub-BookSubset),
    url(./CircularXXSub-BookSubset.woff2) format("woff2"),
    url(./CircularXXSub-BookSubset.woff) format("woff");
}

@font-face {
  font-family: CircularXXSub;
  font-weight: bold;
  src: local(CircularXXSub), local(CircularXXSub-BoldSubset),
    url(./CircularXXSub-BoldSubset.woff2) format("woff2"),
    url(./CircularXXSub-BoldSubset.woff) format("woff");
}
