#discover {
  display: flex;
  flex-direction: column;
  height: 100%;

  .featured-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top: 1.6rem;
    margin-top: 1.6rem;
    background: #fff;
  }

  .search-container {
    overflow: unset;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .search-icon {
    position: absolute;
    top: calc(50% - 1.2rem);
    left: calc(10% + 0.8rem);
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../assets/images/icon-search.png);
    background-size: cover;
  }

  input#search {
    display: block;
    position: relative;
    margin: 0 auto;
    padding-left: 4rem;
    width: 80%;
    height: 3.6rem;
    font-size: 1.8rem;
    background-color: #e3e3e34d;
    color: #fff;
    border: none;
    border-radius: 1rem;

    &::placeholder {
      opacity: 0.5;
      color: #fff;
      text-align: left;
    }

    &:focus::placeholder,
    &:active::placeholder {
      visibility: hidden;
    }
  }

  .post-text {
    padding-left: 1.6rem;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #818284;
  }

  .new-uploads,
  .viral {
    display: block;
    padding: 1.6rem 0;
  }

  .search.video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 28rem;
    column-gap: 1px;
    row-gap: 1px;
    padding: 0;
    margin-top: -1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .video-list {
    display: flex;
    margin-top: 1.6rem;
    padding: 0 1.6rem;
    scroll-padding: 0 1.6rem;
    overflow-x: scroll;
    -ms-overflow-style: none; // Hide scrollbars in IE
    scrollbar-width: none; // Hide scrollbars in Firefox
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      // Hide scrollbars in Chrome/Safari/Edge
      display: none;
    }

    .video-item {
      border-radius: 0.8rem;
      height: 28rem;
      width: 13.5rem;
      object-fit: cover;
      margin-right: 0.1rem;
      cursor: pointer;
      scroll-snap-align: start;
    }
  }
}
